# Projet Supabase (Settings -> API)
SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

# France Travail (francetravail.io -> ton application)
FT_CLIENT_ID=
FT_CLIENT_SECRET=

# Adzuna (developer.adzuna.com)
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
